
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom:10px;">
        <div class="thumbnail" style="background-color:#efefef; ">
            <div class="caption">
                <h3 class="h2" href="/Detailed/Index?variety=6b_day" style="color:#1f3369"><b>@ViewBag.variety</b></h3>
                <p style="color:#333;  font-size:14px;" id="statisticedisplay">
                </p>
                <div style="font-size:14px;">
                    <table class="table table-hover table-condensed">
                        <tbody id="tabledisplay">
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    <a href="/User/Add?variety=@ViewBag.variety" style="font-size:26px; font-weight:600;">the more....</a>
                </div>
                <!--
                <p>
                    <a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a>
                </p>
                -->
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" language="JavaScript">
        var pageno = 0;
        function kkk() {
            var str="";
            $.ajax({
                type: "post",
                url: "/Detailed/OnStatistics",
                contenType: "application/json; charset=utf-8",
                data: { variety: '@ViewBag.variety',level:'@ViewBag.level' },
                dataType: "json",
                beforeSend: function () {
                    $("#statisticedisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    str = str + result[3]+ '&nbsp;&nbsp; Not guaranteed to be completely accureate,For reference only.<br /> ';
                    str = str + 'Time limit: <b>' + result[2] + '-' + result[1] + '</b ><br />The amount of data: <b>' + result[0] + '( Display data: top 500 )</b>';
                    $("#statisticedisplay").html(str);
                }
            });
        }
        kkk();
        function ppp() {
            var strr='';
            $.ajax({
                type: "post",
                url: "/Detailed/OnTableListTick",
                contenType: "application/json; charset=utf-8",
                data: { variety: '@ViewBag.variety'+'_'+'@ViewBag.level', pageno: pageno },
                dataType: "json",
                beforeSend: function () {
                    $("#tabledisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {
                    strr = strr + '<tr style="background-color:#ddd">';
                    strr = strr + '<td style="padding-left:0px;"><b>DateTime</b></td>';
                    strr = strr + '<td><b>Price</b></td>';
                    strr = strr + '<td><b>TotalVolume</b></td>';
                    strr = strr + '</tr>';
                    for (var i = 0; i < result.length; i++){
                        strr = strr + '<tr>';
                        strr = strr + '<td style="padding-left:0px;">'+result[i].datetime+'</td>';
                        strr = strr + '<td>' + result[i].price+'</td>';
                        strr = strr + '<td>' + result[i].totalvolume+'</td>';
                        strr = strr + '</td>';
                    }
                    $("#tabledisplay").html(strr);
                }
            });
        }
        ppp();
    </script>
}