
@{
    ViewData["Title"] = ViewBag.variety+" Max";
    Layout = "~/Views/Shared/_Layout_fluid.cshtml";
}

<script src="~/js/commontools.js"></script>



<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">


        <div class="col-lg-12" style=" padding-bottom:8px; padding-top:10px; background-color:#cecece; border-left:2px solid #525f83; ">
            <div class="row">
                <div class="col-xl-1 col-lg-1 col-md-2 col-xs-12">
                    <h3 style="color:#1f3369; margin-top:3px;"><b>@ViewBag.variety</b></h3>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-10 col-xs-12">
                    <p style="color:#666;  font-size:14px; margin:0px;" id="statisticedisplay"></p>
                    <p style="color:#666;  font-size:14px; margin:0px;" id="countstatusdisplay"></p>
                </div>
                <div class="col-xl-5 col-lg-5 col-12 text-right" style="margin-top:5px;">
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(30);" style="margin-left:3px;">M</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(365);" style="margin-left:3px;">Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(1080);" style=" margin-left:3px;">3Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(1800); " style="margin-left:3px;">5Y</button>
                    <button type="button" class="btn btn-info btn-sm" onclick="javascript: mmm(99999);" style="margin-left:3px;"> All </button>
                    <a href="/Detailed/IndexMinute?variety=@ViewBag.variety" class="btn btn-sm btn-info" style="margin-left:3px;">Minute</a>
                </div>
            </div>
        </div>


        <div class="col-12 map" style="background-color:#fefefe; margin-top:10px; padding-top:10px;">

            <div id="main" class="col-12" style="">
            </div>
            <div class="col-row" style="">
                <div class="col-12 text-center" style="padding-bottom:30px;">
                    <a href="javascript:bbb('L');" style="font-size:13px; color:#333; text-decoration:underline;">CloseLine</a>&nbsp;&nbsp;&nbsp;
                    <a href="javascript:bbb('K');"><img src="~/img/K线.png" width="21px" height="21px" /></a>
                </div>
            </div>
        </div>


    </div>
</div>





@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" language="JavaScript">

        var pageno = 0;

        var chartype = "L";
        var scount = 365;

        $("#main").css({
            height: function () {
                return ($(document).height()-190);
            },
            width: "100%"
        });

        function kkk() {
            var str="";
            $.ajax({
                type: "post",
                url: "/Detailed/OnStatistics",
                contenType: "application/json; charset=utf-8",
                data: { variety: '@ViewBag.variety',level:'@ViewBag.level'},
                dataType: "json",
                beforeSend: function () {
                    $("#statisticedisplay").html("<span style='color:#336699;'><b>Loading data......</b></span>");
                },
                success: function (result) {
                    str = str + result[3];
                    $("#statisticedisplay").html(str);
                }
            });
        }

        function mmm(scountz) {
            scount = scountz;
            jjj(scountz, chartype);
        }


        function bbb(charttypez) {
            chartype = charttypez;
            jjj(scount, charttypez);
        }

        function jjj(scount,chartype) {
            var strr = '';
            $.ajax({
                type: "post",
                url: "/Detailed/OnTableListDay",
                contenType: "application/json;charset=UTF-8",
                data: { variety: '@ViewBag.variety' + '_' + '@ViewBag.level', pageno: scount },
                dataType: "json",
                headers: {
                    //"Authorization":"Bearer " + $.cookie("tkkz")
                },
                beforeSend: function () {
                    $("#tabledisplay").html("<span style='color:#336699;'><b>Loading data......</b></span");
                },
                success: function (result) {

                    var kdata = new Array();
                    var j = result.length;
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;  line-height:40px;"><b>DateTime</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede; line-height:40px;"><b>Open</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;line-height:40px;"><b>High</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;line-height:40px;"><b>Low</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;line-height:40px;"><b>Close</b></div>';
                    strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;line-height:40px;"><b>Vol</b></div>';
                    for (var i = 0; i < j; i++) {
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede; line-height:40px;">' + result[i].datetime + '</div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;  line-height:40px;">' + result[i].open + '</div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;  line-height:40px;" >' + result[i].high + '</div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 d-none d-md-block" style="border-bottom:1px solid #dedede;  line-height:40px;">' + result[i].low + '</div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;  line-height:40px;">' + result[i].close + '</div>';
                        strr = strr + '<div class="col-xl-2 col-lg-2 col-md-2 col-3 " style="border-bottom:1px solid #dedede;  line-height:40px;">' + result[i].totalvolume + '</div>';
                        kdata[i]    = new Array();
                        kdata[i][0] = result[i].datetime;
                        kdata[i][1] = result[i].open;
                        kdata[i][2] = result[i].close;
                        kdata[i][3] = result[i].low;
                        kdata[i][4] = result[i].high;
                    }
                    $("#tabledisplay").html(strr);
                    //,$("#countstatusdisplay").html('<b>' + kdata[j - 1][0] + ' - ' + kdata[0][0] + ' | ' + j + '</b>');

                    
                    switch (chartype) {
                        case "L":
                            chartline(kdata); break;
                        case "K":
                            chartcandlestick(kdata); break;
                    }
                    //$("#avgd").html("<span style='font-size:12px; margin:0px;'>AvgValue</span><br/>" + avgdata + "<span style='font-size:12px; margin:0px;'>" + maxdatadate + "</span>");


                    //
                }
            });
        }

        /// chart line date close
        function chartline(kdata) {
            var datep = new Array();
            var closep = new Array();
            for (var i = 0; i < kdata.length; i++) {
                datep[i] = kdata[i][0];
                closep[i] = kdata[i][2];
            }
            var myChart = echarts.init(document.getElementById('main'));
            var option = {

                title: {
                    text: '',
                    color: '#105712',
                },
                grid: {
                    left: "5%",
                    right: "2%",
                    height: "75%",
                    bottom: "13%",
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    },
                    backgroundColor: '#666',
                    borderWidth: 0,
                    borderColor: '#ccc',
                    padding: 10,
                    textStyle: {
                        color: '#eee',
                        fontSize: 12,
                    },
                    position: function (point, params, dom, rect, size) {
                        var x = 0; // x坐标位置
                        var y = 0; // y坐标位置
                        // 当前鼠标位置
                        var pointX = point[0];
                        var pointY = point[1];

                        // 提示框大小
                        var boxWidth = size.contentSize[0];
                        var boxHeight = size.contentSize[1];
                        // boxWidth > pointX 说明鼠标左边放不下提示框
                        if (boxWidth > pointX) {
                            x = 5;
                        } else { // 左边放的下
                            x = pointX - boxWidth;
                        }
                        // boxHeight > pointY 说明鼠标上边放不下提示框
                        if (boxHeight > pointY) {
                            y = 5;
                        } else { // 上边放得下
                            y = pointY - boxHeight;
                        }
                        return [x, y];
                    },

                    extraCssText: 'width:170px',
                },
                legend: {
                    data: ['Price']
                },
                xAxis: {
                    data: datep.reverse(),
                    axisLine: {
                        lineStyle: {
                            color: '#aaa',
                            width: 1.2,
                        },
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#eee',
                        },
                        show: true,
                    },
                    axisLabel: {
                        color: '555',
                    },
                },
                yAxis: {
                    min: 'dataMin',
                    max: 'dataMax',
                    axisLine: {
                        lineStyle: {
                            color: '#aaa',
                            width: 1.2,
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#eee',
                        },
                        show: true,
                    },
                    axisLabel: {
                        color: '#555',
                    },
                },

                series: [{
                    name: 'Closeprice',
                    type: 'line',
                    data: closep.reverse(),
                    smooth: true,
                    itemStyle: {
                        normal: {
                            color: '#334455',
                            lineStyle: {
                                width: 1, //设置线条粗细
                                color: '#334455',
                            }
                        }
                    },
                }],

                
                dataZoom: [
                    {   // 这个dataZoom组件，默认控制x轴。
                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        start: 0,      // 左边在 10% 的位置。
                        end: 100         // 右边在 60% 的位置。
                    },
                ]


            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }


        function chartcandlestick(kdata) {

            var myChart = echarts.init(document.getElementById('main'));
            var upColor = '#ec0000';
            var upBorderColor = '#8A0000';
            var downColor = '#00da3c';
            var downBorderColor = '#008F28';

            var data0 = splitData(kdata.reverse());

            function splitData(rawData) {
                var categoryData = [];
                var values = []
                for (var i = 0; i < rawData.length; i++) {
                    categoryData.push(rawData[i].splice(0, 1)[0]);
                    values.push(rawData[i])
                }
                return {
                    categoryData: categoryData,
                    values: values
                };
            }

            function calculateMA(dayCount) {
                var result = [];
                for (var i = 0, len = data0.values.length; i < len; i++) {
                    if (i < dayCount) {
                        result.push('-');
                        continue;
                    }
                    var sum = 0;
                    for (var j = 0; j < dayCount; j++) {
                        sum += data0.values[i - j][1];
                    }
                    result.push(sum / dayCount);
                }
                return result;
            }

            var option = {
                title: {
                    text: '',
                    left: 0
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                legend: {
                    data:['Price']   // ['日K', 'MA5', 'MA10', 'MA20', 'MA30']
                },
                grid: {
                    left: '5%',
                    right: '5%',
                    bottom: '13%',
                    height:'75%'
                },
                xAxis: {
                    //type: 'category',
                    data: data0.categoryData,
                    axisLine: {
                        lineStyle: {
                            color: '#aaa',
                            width: 1.2,
                        },
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#eee',
                        },
                        show: true,
                    },
                    axisLabel: {
                        color: '555',
                    },

                },
                yAxis: {
                    axisLine: {
                        lineStyle: {
                            color: '#aaa',
                            width: 1.2,
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: '#eee',
                        },
                        show: true,
                    },
                    axisLabel: {
                        color: '#555',
                    },
                },

                series: [{
                        name: 'Day KBar',
                        type: 'candlestick',
                        data: data0.values,
                        itemStyle: {
                            color: upColor,
                            color0: downColor,
                            borderColor: upBorderColor,
                            borderColor0: downBorderColor
                        },
                        markPoint: {
                            /*label: {
                                normal: {
                                    formatter: function (param) {
                                        return param != null ? Math.round(param.value) : '';
                                    }
                                }
                            },*/
                            data: [
                                {
                                    name: 'highest value',
                                    type: 'max',
                                    valueDim: 'highest'
                                },
                                {
                                    name: 'lowest value',
                                    type: 'min',
                                    valueDim: 'lowest'
                                },
                            ],
                            tooltip: {
                                formatter: function (param) {
                                    return param.name + '<br>' + (param.data.coord || '');
                                }
                            }
                        },
                        /*markLine: {
                            symbol: ['none', 'none'],
                            data: [
                                [
                                    {
                                        name: 'from lowest to highest',
                                        type: 'min',
                                        valueDim: 'lowest',
                                        symbol: 'circle',
                                        symbolSize: 5,
                                        label: {
                                            show: false
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            }
                                        }
                                    },
                                    {
                                        type: 'max',
                                        valueDim: 'highest',
                                        symbol: 'circle',
                                        symbolSize: 5,
                                        label: {
                                            show: false
                                        },
                                        emphasis: {
                                            label: {
                                                show: false
                                            }
                                        }
                                    }
                                ],

                            ]
                        }*/
                }],                                             
                dataZoom: [
                    {   // 这个dataZoom组件，默认控制x轴。
                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        start: 0,      // 左边在 10% 的位置。
                        end: 50       // 右边在 60% 的位置。
                    },
                ]
            };
            myChart.setOption(option);


        }



        //$(document).ready(function () {
            //kkk();
            jjj(scount, chartype);
        //})







    </script>

}


